-# メイン画面（チャット画面）
.chat-main
  -# ヘッダー
  .chat-main__header
    -# グループ情報
    .chat-main__header__group-status
      -# グループ名
      .chat-main__header__group-status__group-name
        test
      -# メンバー名
      .chat-main__header__group-status__member-name
        Member:masa
    -# グループ編集
    .chat-main__header__group-edit
      = link_to "#", class: "edit-btn" do
        Edit
  -# メッセージ画面
  .chat-main__message-list
    -# 投稿者情報
    .message-upper
      -# 投稿者"名"
      .message-upper__talker
        masa
      -# 投稿日
      .message-upper__day
        2019/11/20(Wed) 17:43:34
    -# 投稿内容
    .message-talk
      おはよう
  -# チャットの入力全般
  .chat-main__message-form
    .input-box
      -# 文字入力
      %input.input-box__message{type: "text",
                                name: "message[content]", 
                                value: "",
                                placeholder: "type a message"}
      -# 画像入力
      %label.input-box__image{for: "massage_image"}
        = icon('far', 'image')
        -# 画像ファイルの選択
        %input.input-box__image__file{type: "file",
                                      name: "message[image]",
                                      id: "massage_image"}
    -# 送信ボタン
    %input.send-btn{type: "submit",
                    name: "comit",
                    valu: "Send"}